
@{
    ViewBag.Title = "Routes";
}

<div ng-app="RouteApp">
    <div ng-controller="RouteController">
        <div class="row steps-line">

        </div>
        <div class="row trip-editor">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <div class="row">

                    <label><i class="fa fa-info fa-2x"> Начало </i></label>
                    <div class="input-group">
                        <span class="input-group-addon" id="startAddressAddon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <!--start Address -->
                        <input class="form-control google-address-picker" id="startAddressPicker" aria-describedby="startAddressAddon" type="text" placeholder="Address" ng-change="fillInStartAddress()" ng-model="startAddress">
                    </div>
                    <input mdc-datetime-picker date="true" time="true" type="text" id="time" short-time="true"
                           placeholder="Time"
                           min-date="minDate"
                           format="DD-MM-YYYY hh:mm"
                           ng-model="startDate" />
                    <label><span class="fa fa-info fa-2x">Финиш</span>  </label>
                    <div class="input-group">
                        <span class="input-group-addon" id="endAddressAddon"><span class="glyphicon glyphicon-map-marker danger"></span></span>
                        <!--end Address -->
                        <input class="form-control google-address-picker" id="endAddressPicker" aria-describedby="endAddressAddon" type="text" placeholder="Address" ng-change="fillInEndAddress()" ng-model="endAddress">
                    </div>
                    
                    <div class="input-group">
                        <!--end Time -->
                        <input mdc-datetime-picker date="true" time="true" type="text" id="time" short-time="true"
                               placeholder="Time"
                               min-date="minDate"
                               format="DD-MM-YYYY hh:mm"
                               ng-model="endDate" />
                       </div>
                    

                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <div dm-google-map></div>
            </div>
        </div>

        <div class="row button-control">
            <button class="btn btn-info" ng-click="calculateRoute()"> <i class="fa fa-street-view fa-lg"></i>Build Route<span class="glyphicon glyphicon-map-marker"></span></button>
            <button class="btn btn-info" ng-click="sendTripRequest()"> <span class="fa fa-street-view fa-lg"></span>Request Trip<span class="glyphicon glyphicon-map-marker"></span></button>
        </div>
    </div>
</div>



@section leftbar
{

    <div class="row">
        <div class="btn-group-vertical" role="group" aria-label="...">
            <button id="userProfileButton" class="btn btn-info"><span class="glyphicon glyphicon-user"></span> Profile</button>
            <button id="addRouteButton" class="btn btn-info"><span class="glyphicon glyphicon-map-marker"></span> Add Route</button>
        </div>
    </div>

}

@section scripts{


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/en-gb.js"></script>
    <script src="/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>


    @Scripts.Render("~/scripts/angular/routes")

}
@section styles{
}
