<h1>Schedule</h1>
<div layout="column">
    <form>
        <div layout="column" ng-cloak class="md-inline-form">
            <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Start</h3>
                        <md-whiteframe class="md-whiteframe-1dp" flex layout layout-align="center center">
                            <div layout="column" layout-align="center stretch">
                                <div class="input-group">
                                    <md-input-container>
                                        <label>Date</label>
                                        <input mdc-datetime-picker date="true" time="false" type="text" id="startTime" short-time="true"
                                               placeholder="Date"
                                               min-date="minDate"
                                               format="DD-MM-YYYY"
                                               ng-model="start.date" />
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Time</label>
                                        <input mdc-datetime-picker date="false" time="true" type="text" id="startTime" short-time="false"
                                               placeholder="Time"
                                               min-date="minDate"
                                               format="hh:mm"
                                               ng-model="start.date" />
                                    </md-input-container>
                                </div>
                                <md-input-container>
                                    <label>Address</label>
                                    <input type="text" name="startAddress" flex ng-model="start.address" id="startAddress" />

                                </md-input-container>
                            </div>
                        </md-whiteframe>
                    </div>

                    <div class="col-md-6">
                        <h3>End</h3>
                        <md-whiteframe class="md-whiteframe-1dp" flex layout layout-align="center center">
                            <div layout="column" layout-align="center stretch">
                                <div class="input-group">
                                    <md-input-container>
                                        <label>Date</label>
                                        <input mdc-datetime-picker date="true" time="false" type="text" id="startTime" short-time="true"
                                               placeholder="Date"
                                               min-date="minDate"
                                               format="DD-MM-YYYY"
                                               ng-model="end.date" />
                                    </md-input-container>
                                    <md-input-container>
                                        <label>Time</label>
                                        <input mdc-datetime-picker date="false" time="true" type="text" id="startTime" short-time="false"
                                               placeholder="Time"
                                               min-date="minDate"
                                               format="HH:mm"
                                               ng-model="end.date" />
                                    </md-input-container>
                                </div>
                                <md-input-container>
                                    <label>Address</label>
                                    <input type="text" name="endAddress" ng-model="end.address" id="endAddress" />
                                </md-input-container>

                            </div>
                        </md-whiteframe>

                    </div>
                </div>
            </md-content>
        </div>
    </form>
</div>