@model object
@{
    Layout = "../Shared/_LoginLayout.cshtml";
}

<div layout="column" ng-app="RegisterApp" style="margin-top: 70px" ng-cloak>

    <form class="form-signin" ng-controller="RegisterController">
        <div layout="column" layout-align="center center">
            <div layout-gt-sm="row" flex>
                <md-input-container>
                    <label for="email" class="control-label">Email</label>
                    <input type="email" class="form-control" id="email" md-select-on-focus>
                </md-input-container>
                <md-input-container>
                    <label for="phone" class="control-label left">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" md-select-on-focus/>
                </md-input-container>
            </div>
            <div layout-gt-sm="row" flex>
                <md-input-container>
                    <label for="firstName" class="control-label left">First Name</label>
                    <input type="password" name="firstName" class="form-control" id="firstName" md-select-on-focus>
                </md-input-container>
                <md-input-container>
                    <label for="lastName" class="control-label left">Last Name</label>
                    <input type="password" name="lastName" class="form-control" id="lastName" md-select-on-focus>
                </md-input-container>
            </div>
            <div layout-gt-sm="row" flex>
                <md-input-container>
                    <label for="pass" class="control-label left">Password</label>
                    <input type="password" class="form-control" id="pass" md-select-on-focus>
                </md-input-container>
                <md-input-container>
                    <label for="confirmPass" class="control-label left">Password Confirmation</label>
                    <input type="password" class="form-control" id="confirmPass" md-select-on-focus>
                </md-input-container>
            </div>
        </div>
        <div layout="column" layout-align="center center">
            <div>
                <md-switch class="md-primary"  aria-label="Send Notifications by Email">
                    Send Notifications by Email
                </md-switch>
            </div>
            <div>
                <md-button class="md-primary md-raised" ng-click="register()">
                    <i class="fa fa-2x fa-user"></i>Register
                </md-button>
            </div>
        </div>

        <div class="">
            <div class="jumbotron">
                <button type="button" class="btn btn-danger btn-lg btn-block"><i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;Google</button>
                <button type="button" class="btn btn-primary btn-lg btn-block"><i class="fa fa-facebook-square" aria-hidden="true"></i>&nbsp;Facebook</button>
            </div>
        </div>
    </form>

</div>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/en-gb.js"></script>
    <script src="~/Scripts/angular/modules/register/register.module.js"></script>
    <script src="~/Scripts/angular/modules/register/register.controller.js"></script>
}

